@mixin center
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

@mixin size($w,$h:$w)
  width: $w
  height: $h

@mixin img_center
  display: block
  margin: 0 auto

@keyframes fadeIn
  0%
    opacity: 0
    transform: translateX(30px)
    filter: saturate(0%)
  100%
    opacity: 1
    transform: translateX(0px)
    filter: saturate(100%)

@keyframes sliceIn
  0%
    transform: translateX(-50px)
  100%
    transform: translateX(0px)

html,body,#main
  +size(100%)
  margin: 0
  padding: 0
  font-family: "微軟正黑體"
  background-color: #ddd

#nav
  display: none
  .sitename
    font-size: 25pt
  .fa-bars
    color: #fff
  a
    color: #fff
    +center
  a:hover
    color: #0ff

#main
  #home
    background-color: #ccc
    animation: sliceIn 1s 0.2s ease
    .cover
      +center
      +size(100%)
      background: url('../img/cover1.png') center no-repeat 
      background-size: cover
      color: #000
      padding-top: 20vh  
      h1
        font-weight: 900
        margin-bottom: 40px
      p 
        font-weight: 400
        margin-bottom: 40px
        word-wrap: break-all
        padding: 0 50px
      a
        border: solid 1px #777
        color: #000
        opacity: 0.8

  .title
    +size(100%,40px)
    +center
    background-color: #fff
    font-size: 20pt
    font-weight: bold
    animation: fadeIn 1.5s ease both  

  #product,#experiment,#about,#QA
    padding-top: 100px
    display: none
    animation: sliceIn 1s 0.1s ease
  #footer
    display: none

  #product
    .myframe
      +center
      iframe
        width: 100%
        height: 300px
        border: none
        margin: 10px
        padding: 10px 

  #product,#experiment
    .container
      width: 100%
      .row
        padding: 0px 0
        margin: 0
      .col-md-3,.col-6
        padding: 0
        border-bottom: solid 10px #eee
        .card
          background-color: #ddd
          border: solid 1px #888
          height: 250px
          a
            text-decoration: none
            color: #000
          a:hover
            color: #08a
          img
            +size(160px)
            +img_center
          img:hover
            transform: translateY(-10px)
            transition: 0.3s
          .card-img-top
            padding: 10px
          .card-body
            border-top: solid 1px #888
            p
              +center
      .modal-dialog
        .modal-content
          background-color: #fff
        .modal-header
          background-color: #eee
          border-bottom: solid 1px #777
        .modal-body  
          border-bottom: solid 1px #777
          img
            +size(200px)
            +img_center
          p
            +center
            
  #about
    line-height: 30pt
    .content
      padding: 0 10%
    .row
      border: solid 1px #aaa
      margin: 20px 0
      h5
        font-weight: bold
      p
        font-size: 11pt
      img
        +img_center

  #QA
    .content
      padding: 0 10%
      ul
        list-style-type: none
        li
          border-bottom: solid 1px #000
          .quest
            width: 100%
            height: auto
            overflow: hidden
            padding: 15px
            a
              text-decoration: none
              color: #000
            a:hover,a:focus
              color: #00f
          .answer
            width: 100%
            height: auto
            position: relative
            padding-left: 10px
            .card
              margin-bottom: 10px
              background-color: #ddd
              border: solid 1px #888
            .ans_title
              position: absolute
              top: 20px
              left: 20px
              margin: 0
              padding: 0
            .ans
              width: 100%
              height: auto
              line-height: 30px
              padding: 0px 35px

  #footer
    width: 100%
    .content
      margin: 0
      padding: 50px 5%
      background-color: #ccc
      line-height: 25pt
      h4
        font-weight: bold
        margin-bottom: 20px
        +center
      .touch,.contact
        margin-bottom: 40px
        .pics
          .card
            background-color: #ccc
            border: 0
            img
              +size(70px)
              +img_center
      .contact
        p
          +center
        img
          +img_center
          +size(100px)
          margin-left: 20px
        
          
    .end
      margin: 0
      padding: 0
      background-color: #fff
      a
        +center